<div class="row prof-header2">
  <div class="col-sm-6">subrebbits</div>
  <div class="col-sm-3">posts</div>
  <div class="col-sm-3">users</div>
</div>

<% @subrebbits.each.with_index do |subrebbit, ind| %>
  <div class="row prof-header3 subreb" style="margin-top: 0;">
    <div class="col-sm-6 subreb"><%= link_to(subrebbit.category, subrebbit_path(subrebbit, :params => { sort_by: "latest"}), class: "prof-header3 subreb") %></div>
    <div class="col-sm-3 subreb"><%= subrebbit.posts.count %></div>
    <div class="col-sm-3 subreb"><%= @user_counts[ind] %></div>
  </div>
<% end %>
