<div class="col-sm-5 subtitle">subrebbits</div>
<div class="col-sm-3 subtitle">post count</div>
<% @subrebbits.each do |subrebbit| %>
  <div class="col-sm-5"><%= link_to subrebbit.category, subrebbit %></div>
  <div class="col-sm-3"><%= subrebbit.posts.count %></div>
<% end %>
