@import 'bootstrap-sprockets';
@import 'bootstrap';

div{
  color: white;
  background: black;
}

.header{
  padding: 15px;
  background: orange;
  color: blue;
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  text-decoration: none;
}

  .sidebar{
  background: orange;
  color: blue;
  font-size: 20px;
}

.subtitle{
  padding-top: 10px;
  font-family: 'Brush Script MT', cursive;
  text-decoration: underline;
  font-size: 30px;
}

.small{
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-top: 12px;
}

.smaller{
  color: white;
  text-decoration: none;
  font-size: 15px;
}


.donotsteal{
  text-align: center;
  font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
  font-size: 20px;
  padding-top: 20px;
}

.profile{
  font-size: 25px;
  padding-top: 25px;
}

.prof-header{
  font-family: 'Brush Script MT', cursive;
  text-decoration: underline;
  font-size: 50px;
  text-align: center;
}

