@import 'bootstrap-sprockets';
@import 'bootstrap';

div{
  color: white;
  background: black;
}

.header{
  padding-top: 15px;
  background: orange;
  color: blue;
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  text-decoration: none;
}

  .sidebar{
  background: orange;
  color: blue;
  font-size: 20px;
}

.subtitle{
  padding-top: 10px;
  font-family: 'Brush Script MT', cursive;
  text-decoration: underline;
  font-size: 25px;
}
