@import 'bootstrap-sprockets';
@import 'bootstrap';

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin fade-in{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

div{
  color: white;
  background: black;
}

.flash {
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  background: orange;
  height: 67px;
  margin: 10px 0;
  font-size: 16px;
  padding: 0 20px;
  opacity: 0;
}

.notice {
  text-align: center;
  background: green;
  @include fade-in;
}

.alert {
  text-align: center;
  background: red;
  @include fade-in;
}

.field_with_errors {
  border: 2px solid red;
  box-shadow: 2px 2px 0px gray;
  box-shadow: 3px 3px 0px gray;
  box-shadow: 4px 4px 0px gray;
  box-shadow: 5px 5px 0px gray;
  margin: 10px;
}

.header{
  padding: 15px;
  background: orange;
  color: blue;
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  text-decoration: none;
}

.header-small{
  padding: 16px;
  background: orange;
  color: blue;
  font-size: 20px;
  text-decoration: none;
}

.sidebar{
  height: 100%;
  background: orange;
  color: blue;
  font-size: 20px;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

.sidebar1{
  background: orange;
  color: blue;
  font-size: 20px;
}

.subtitle{
  padding-top: 10px;
  font-family: 'Brush Script MT', cursive;
  text-decoration: underline;
  font-size: 30px;
}

.subtitle2{
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
}

.main-content{
  min-height: 200px;
  overflow: hidden;
}

.small{
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-top: 12px;
}

.smaller{
  color: white;
  text-decoration: none;
  font-size: 15px;
}


.donotsteal{
  text-align: center;
  font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
  font-size: 20px;
  padding-top: 20px;
}

.profile{
  font-size: 25px;
  padding-top: 25px;
}

.prof-header{
  color: white;
  font-family: 'Brush Script MT', cursive;
  text-decoration: underline;
  font-size: 50px;
  text-align: center;
}

.prof-header2{
  color: white;
  font-family: 'Brush Script MT', cursive;
  text-decoration: none;
  font-size: 50px;
}

.prof-header3{
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.center{
  text-align: center;
}

.black{
  color: black;
}

.white{
  color: white;
}

.left{
  text-align: left;
}
