<%= form_tag create_subrebbit_path do %>
  <div class="subtitle2 left black"><span class="white">category: </span><%= text_field_tag(:category)  %></div>
  <div class="subtitle2 left"><%= submit_tag "submit", class: "black" %></div>
<% end %>
