<%= form_for(@subrebbit, class: "form-group" ) do |f| %>
  <div class="form-inline">
    <div class="col-sm-12 form-group center"></br>
      <label for="category" class="white control-label">new subrebbit</label>
      <%= f.text_field(:category, { placeholder: "dead horse", id: "category", class: "black" })  %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 black center"></br>
      <%= submit_tag "submit", class: "black btn btn-default" %>
    </div>
  </div>
<% end %>
